<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				I did it!
			</p>
		</div>
		<div class="row">
			<p>
				
			</p>
		</div>
	</div>
	<div>
		<h2>I made something on the web!</h2>
		<p>This is where I'm going to do something dumb.</p>

		
	</div>
	<div class="row">
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">


			<h2>
				<strong></strong>
			</h2>
			<p></p>
		</div>
	</div>
	<div class="well">
		<h2>More stuff</h2>
		<p>
			Who knows?
		</p>
	</div>
</section>
